/*
 * Main properties
 * @author Antoine De Gieter
 * @author Jean Mercadier
 * @copyright Net Production Köbe & Co
 */

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

body, html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	display: absolute;
	height: 200%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
}

.vertical-white-space {
    margin-top: 36px;
    margin-bottom: 36px;
}

.vertical-small-white-space {
    margin-top: 41px;
    margin-bottom: 41px;
}

.enter-middle-box {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 0px;
	padding-left: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	border: none;
}

.middle-box {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 0px;
	padding-left: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	border: none;
}

.alternate-middle-box {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 0px;
	padding-left: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	border: none;
}

#cart {
	margin-top: 60px;
}

#form-add-to-cart {
	/*position: absolute;*/
}

#languages {
	margin-right: 32px;
}

#languages li {
	display: inline-block;
	line-height: 40px;
}

#languages li a {
	color: #fff;
	position: relative;
	line-height: 40px;
	padding: 9px 10px 9px 10px;
}

.language-button a:hover {
	border-radius: 50px;
	color: #000;
	background-color: #aaa;
	padding: 0px;
	text-decoration: none;
}

#language-button-en_GB a:before {
	content: "EN";
	color: #fff;
	font-size: 0.7em;
}

#language-button-fr_CH a:before {
	content: "FR";
	color: #fff;
	font-size: 0.7em;
}

.footer {
	padding-top: 6px;
	background-color: #f8f8f8;
}

.link-black, .link-black:visited {
	color: black;
	text-decoration: none;
}

.link-black:hover {
	color: #888;
	text-decoration: none;
}

/* FULL PAGE REPLACEMENT */

/*#fullpage {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

#fullpage .section {
	overflow-x: hidden;
}

#fullpage .section:first-of-type {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	overflow-y: hidden;
}

#fullpage .section:last-of-type {
	position: absolute;
	height: 100%;
	right: 0;
	left: 0;
	overflow-y: hidden;
}*/

/* MIDDLE BOX ARROW */

.middle-box-arrow {
	text-align: center;
}

.middle-box-arrow div {
	display: inline-block;
	cursor: pointer;
	padding: 10px;
}

/* CONTACT FORM */

.contact-form {
	display: block;
	position: absolute;
	width: 50%;
	overflow: hidden;
	left: 25%;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.76);
}
http://arrow.net-production.ch/?page=cart
.contact-form legend {
	border: none;
}

.contact-form .contact-info-row {
	margin-top: 20px;
}

.contact-form .contact-info-row span {
	display: inline-block;
}

.universe-content {
	background-image: url(../../global/img/backgrounds/universe.jpg);
    background-size: cover;
	padding: 16px;
}

.designer-content {
	background-image: url(../../global/img/backgrounds/designer.jpg);
    background-size: cover;
	padding: 16px;
}

.philosophy-content {
	background-image: url(../../global/img/backgrounds/philosophy.jpg);
    background-size: cover;
	padding: 16px;
}

.about-content h4 {
	margin: 16px 8px;
	line-height: 28px;
}

.about-content h4:nth-of-type(odd) {
	text-align: left;
	padding-right: 40%;
}

.about-content h4:nth-of-type(even) {
	text-align: right;
	padding-left: 40%;
}

/* SHOP PHOTO STREAM */

/*
PISTE POUR FEED EN FOND D'ECRAN DU SHOP
.shop-stream-container {
	background-color: red;
	position: absolute;
	z-index: -10;
	height: 450px;
	width: 100%;
	padding-right: 100px;
	background-image: url(https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11255380_1038087476204270_922285849_n.jpg), url(https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s640x640/e35/sh0.08/10549615_1621262804825350_899067377_n.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: center bottom, left top;
	background-size: 40%, 40%;
}

.middle-box .row {
	position: relative;
	display: block;
	top: 0;
}*/

/* UNIVERSE PHOTO STREAM */

.universe-feed img {
	width: 50%;
	max-width: 640px;
	max-height: 640px
}

.description {
	font-size: 12px;
}

#big-picture {
	width:100%;
	overflow:hidden;
	background-size:cover; background-position: center bottom;
}

.thumbnail-picture {
    cursor: pointer;
}
