/*
 * General menu properties
 * @author Antoine De Gieter
 * @author Jean Mercacdier
 * @copyright Net Production Köbe & Co
 */

 nav.navbar {
 	/*margin-left: -16px;*/
 }

.menu-item {
	margin-left: 8px;
	margin-right: 8px;
    float: left;
    position: relative;
}

.menu-subcategories {
    padding-left: 0px;
    position: relative;
}

#cart-link {
	z-index: 10000;
	position: absolute;
	top: 14px;
	right: 14px;
}

.enter-navbar {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.navbar.navbar-gray.navbar-fixed-bottom {
	background-color: #f8f8f8;
	border-top: 1px solid #aaa;
	position: absolute;
}

.navbar.navbar-white .nav.navbar-nav li a:hover {
	color: #888;
	background-color: #fff;
}

.navbar.navbar-gray .nav.navbar-nav li a:hover {
	color: #333;
	background-color: #f8f8f8;
}

.navbar.navbar-white .nav.navbar-nav li a:visited,
.navbar.navbar-white .nav.navbar-nav li a {
	-webkit-transition: all .10s;
	   -moz-transition: all .10s;
	    -ms-transition: all .10s;
	     -o-transition: all .10s;
	        transition: all .10s;
	color: #000;
}

.sub-nav {
    background-color: rgb(255, 255, 255);
	display: none;
	text-align: center;
	list-style: none;
	padding: 0;
	z-index: 1000;
    margin-left: -66px;
    margin-right: -66px;
    position: absolute;
    width: 300%;
}

.sub-nav-padding {
	display: none;
}

#shop-menu-label:focus .sub-nav,
#shop-menu-label:hover .sub-nav {
	display: block;
}

.sub-nav li {
	display: inline-block;
	cursor: pointer;
}

.sub-menu .sub-sub-menu {
	font-size: 0.9em;
}

.sub-menu:hover {
	text-decoration: none;
}

/* FOOTER */

.footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -4px;
	margin-bottom: 0;
}

.social-icons {
	float: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
