/*
 * Fonts and color set
 */

@font-face{ 
	font-family: 'Regular';
	src: url(../fonts/HelveticaNeueLTSTD/Regular.otf) format('truetype');
}
@font-face{ 
	font-family: 'Bold';
	src: url(../fonts/HelveticaNeueLTSTD/Bold.otf) format('truetype');
}
@font-face{ 
	font-family: 'Light';
	src: url(../fonts/HelveticaNeueLTSTD/Light.otf) format('truetype');
}
@font-face{ 
	font-family: 'Thin';
	src: url(../fonts/HelveticaNeueLTSTD/Thin.otf) format('truetype');
}
@font-face{ 
	font-family: 'Ultra-light';
	src: url(../fonts/HelveticaNeueLTSTD/Ultra-Light.otf) format('truetype');
}

body {
	font-family: "Light";
}
