/*
 * Medium main properties
 * @author Antoine De Gieter
 * @author Jean Mercadier
 * @copyright Net Production Köbe & Co
 *
 * 768px < MEDIUM < 991px
 */

.middle-box {
	width: 80%;
	position: relative;
	height: 450px;
}

/* CONTACT FORM */

.contact-form {
	bottom: 2%;
	font-size: .8em;
}

/*SHOP*/
.shop-stream-container + .row div /*Eviter que lmes produits du shop ne se réduisent trop*/
{
	min-width: 211px;
}

.instagram-img {
	width: 260px;
}
