/*
 * Medium menu properties
 * @author Antoine De Gieter
 * @author Jean Mercadier
 * @copyright Net Production Köbe & Co
 *
 * 768px < MEDIUM < 991px
 */

.logo {
	width: 220px;
}

.navbar .navbar-nav.navbar-center {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar.navbar-white .nav.navbar-nav li a:visited,
.navbar.navbar-white .nav.navbar-nav li a {
	margin-right: 8px;
	margin-left: 8px;
}

.enter-navbar div > ul > li{
	display: inline-block;
}

.enter-navbar .enter-list{
	width: 100%;
	padding: 0 15px;
}

.enter-navbar .enter-list li ul{
	padding: 0;
}

.enter-navbar .enter-list li ul;last-child{
	float: right;
}

/* FOOTER */

.footer .row .social-icons li {display: inline-block;}

.footer .row div div:nth-child(2) li:nth-child(-n+3){display: inline-block;height: 37px;color:#000; }

.footer .row div div:last-child li{height: 37px;color:#000;}

.footer .row div div:nth-child(2) li:nth-child(-n+3) a:hover{color:#888;}

.footer .row div div:last-child li a:hover{color:#888;}
