/*
 * Small main properties
 * @author Antoine De Gieter
 * @author Jean Mercadier
 * @copyright Net Production Köbe & Co
 *
 * SMALL < 767px
 */

body {
	overflow-y: scroll;
}

.middle-box-arrow {
	display: none;
}

.footer {
	position: relative;
}

.item-img {
	width: 100%;
}

.manager-item-img {
	width: 100px;
}

#fullpage .section:first-of-type {
	overflow-y: auto;
}

#fullpage .section:last-of-type {
	overflow-y: auto;
}

.contact-form {
	background-color: rgba(0, 0, 0, 0);
	position: relative;
	padding: 0;
	left:0;
	width:100%;
}

.contact-form .contact-info-row span {
	display: block;
}

.about-content h4:nth-of-type(odd) {
	text-align: center;
	padding-right: 0;
	padding-bottom: 12px;
}

.about-content h4:nth-of-type(even) {
	text-align: center;
	padding-left: 0;
	padding-bottom: 12px;
}

.middle-box-arrow{display: none;}

/*SHOP*/
.shop-stream-container + .row div /*Eviter que lmes produits du shop ne se réduisent trop*/
{
	min-width: 211px;
}
