/*
 * Small menu properties
 * @author Antoine De Gieter
 * @author Jean Mercadier
 * @copyright Net Production Köbe & Co
 *
 * SMALL < 767px
 */

.logo {
	width: 140px;
}

.enter-navbar
{
	display: block;
	width: 150px;
	margin: 0 auto;
	margin-bottom: 35px;
}

.enter-navbar div > ul > li{
	display: inline-block;
}

/* FOOTER */

.footer .row .social-icons li {display: inline-block;}

.footer .row div div:nth-child(2) li:nth-child(-n+3){display: inline-block;height: 37px; }

.footer .row div div:last-child li{height: 37px;}

#languages {
	margin: 0;
}
