/*
 * Large main properties
 * @author Antoine De Gieter
 * @author Jean Mercadier
 * @copyright Net Production Köbe & Co
 *
 * 992px < LARGE < 1439px
 */

.enter-middle-box {
 	height: 480px;
 	width: 100%;
 }

.middle-box {
	height: 480px;
	width: 100%;
	margin-top: 20px;
	width: 100%;
}

.alternate-middle-box {
	height: 480px;
	margin-top: 20px;
	width: 100%;
}

/* CONTACT FORM */

.contact-form {
	bottom: 4%;
	top: 8%;
}

#big-picture {
	height:470px;
}

.instagram-img {
	width: 260px;
}
