/*
 * Large menu properties
 * @author Antoine De Gieter
 * @author Jean Mercadier
 * @copyright Net Production Köbe & Co
 *
 * 992px < LARGE < 1439px
 */

nav.navbar {
	/*margin-left: 50px;*/
}

.logo {
	width: 300px;
}

.navbar-right li {
	float: right;
}

a.navbar-brand,
a.navbar-brand:hover,
a.navbar-brand:visited {
	color: #000;
	font-size: 4em;
	font-weight: bold;
	margin-right: 8px;
	margin-left: 8px;
}

.navbar .navbar-nav.navbar-center {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar.navbar-white .nav.navbar-nav li a:visited,
.navbar.navbar-white .nav.navbar-nav li a {
	margin-right: 8px;
	margin-left: 8px;
}

.sub-nav {
	display: none;
	position: absolute;
	width: 240%;
	z-index: 10000;
}

.sub-nav li {
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
}

.sub-nav-padding {
	display: inline-block;
}

#languages {
	margin-right: 32px;
}

.navbar.navbar-white .nav.navbar-nav li a.menu-item:visited,
.navbar.navbar-white .nav.navbar-nav li a.menu-item {
	margin-left: 16px;
	margin-right: 16px;
}
