/*
 * Extra-large main properties
 * @author Antoine De Gieter
 * @author Jean Mercadier
 * @copyright Net Production Köbe & Co
 *
 * EXTRA LARGE > 1440px
 */

 .enter-middle-box {
 	height: 560px;
 	width: 100%;
 }

.middle-box {
	height: 560px;
	margin-top: 120px;
	width: 100%;
}

.alternate-middle-box {
	height: 560px;
	margin-top: 120px;
	width: 100%;
}

/* CONTACT FORM */

.contact-form {
	bottom: 11%;
}

#big-picture {
	height:550px;
}

.instagram-img {
	width: 300px;
}
