/*
 * Extra-large menu properties
 * @author Antoine De Gieter
 * @author Jean Mercadier
 * @copyright Net Production Köbe & Co
 *
 * EXTRA LARGE > 1440px
 */

 .logo {
 	width: 280px;
 }

 .navbar-right li {
 	float: right;
 }

.navbar.navbar-white.navbar-static-top {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #fff;
	border: none;
}

.navbar.navbar-white.navbar-static-top li a {
	line-height: 70px;
}

a.navbar-brand,
a.navbar-brand:hover,
a.navbar-brand:visited {
	color: #000;
	font-size: 4em;
	font-weight: bold;
	margin-right: 32px;
	margin-left: 32px;
}

.navbar.navbar-white .nav.navbar-nav li a:visited,
.navbar.navbar-white .nav.navbar-nav li a {
	color: #000;
	margin-right: 32px;
	margin-left: 32px;
	-webkit-transition: all .10s;
	   -moz-transition: all .10s;
	    -ms-transition: all .10s;
	     -o-transition: all .10s;
	        transition: all .10s;
}

.navbar .navbar-nav.navbar-center {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar.navbar-white .nav.navbar-nav li a:visited,
.navbar.navbar-white .nav.navbar-nav li a {
	margin-right: 8px;
	margin-left: 8px;
}

.sub-nav {
	margin-top: -25px;
}

.navbar.navbar-white .nav.navbar-nav li a.menu-item:visited,
.navbar.navbar-white .nav.navbar-nav li a.menu-item {
	margin-left: 32px;
	margin-right: 32px;
	font-size: 15px;
}
